<h1><%= @gift_event.gift_title %></h1>
<p>Planned by <%= @gift_event.gift_admin_name %></p>
<%=raw generate_gift_title(@gift_event) %>
<h2>$<%= @gift_event.gift_price %></h2>

<h2>Give here:</h2>
<p>something</p>
<p><%= image_tag @gift_event.image.url(:thumb, false) %></p>
<%= render :partial => 'shared/giving_status_message' %>

