<%= render "shared/error_messages", :target => @gift_event %>
<p> 
  <%= f.label :gift_admin_name %>
  <%= f.text_field :gift_admin_name %>
</p>
<p> 
  <%= f.label :gift_admin_email %>
  <%= f.text_field :gift_admin_email %>
</p>
<p> 
  <%= f.label :gift_title %>
  <%= f.text_field :gift_title %>
</p>
<p> 
  <%= f.label :gift_name %>
  <%= f.text_field :gift_name %>
</p>
<p> 
  <%= f.label :gift_price %>
  <%= f.text_field :gift_price %>
</p>
<p> 
  <%= f.label :gift_link %>
  <%= f.text_field :gift_link %>
</p>
<p>
  <%= f.label :image %>
  <%= f.file_field :image %>
</p>
<p>
  <%= f.submit "Submit" %>
</p>

<!--a way to upload the image -->
