<%= render :partial => 'shared/event_view' %>

<p>Your links to share with others is:</p>
<%= link_to event_url(@gift_event.access_token), event_url(@gift_event.access_token) %>
<p>We've shortened it for you:</p>
<%= link_to @gift_event.gift_short_link, @gift_event.gift_short_link %>
<p>Your admin link is:</p>
<%= link_to planner_event_url(@gift_event.gift_admin_token), planner_event_url(@gift_event.gift_admin_token) %>
<p>
  <%= link_to "Edit", edit_planner_event_url(@gift_event.gift_admin_token), :remote => true %>
</p>
<h2>Giving List</h2>
<% if @gift_event.contributions.empty? %>
  No one has given yet.
<% else %>
<table>
  <tr>
    <th>Who</th>
    <th>Email</th>
    <th>Amount</th>
  </tr>
<% @gift_event.contributions.each do |gift| %>
  <tr>
    <td><%= gift.name %></td>
    <td><%= mail_to(gift.email) %></td>
    <td><%= gift.amount %></td>
  </tr>
<% end %>
</table>
<% end %>
