<div id="shoulder">
	<div class="bind">

		<div class="gift"></div>

		<dl>
			<dt class="simple" title="Simple"><span>Simple</span></dt>
			<dd>No accounts, no signups, no fees.<br />Just a <strong>better way</strong> to plan your gift.</dd>

			<dt class="fast" title="Fast"><span>Fast</span></dt>
			<dd>Starting tracking your gift contributions <strong>quickly</strong>&hellip; in under two minutes!</dd>

			<dt class="easy" title="Easy"><span>Easy</span></dt>
			<dd>No complex forms to navigate.<br />Just the bare <strong>essentials</strong> to start planning.</dd>
		</dl>

	</div>
</div>

<div class="bind">

	<h2>Start Here</h2>

	<%= form_for [:planner, @gift_event], :as => :gift_event, :url => planner_event_index_url, :html => { :multipart => true } do |f| %>
		<p>
			<%= f.label :gift_name, 'What is the gift?' %> 
			<%= f.label :gift_name, '(Example: Dave\'s Skydiving Trip)' %> 
			<%= f.text_field :gift_name %>
		</p>
		<p>
			<%= f.label :gift_price, 'How much?' %>
			<span id="gift_event_gift_price_icon" title="$"></span>
			<%= f.text_field :gift_price %>
		</p>
		<p>
			<input class="inline hidden" id="gift_event_continue" type="button" value="Continue" />
		</p>
		<div class="more">
			<p>
				<%= f.label :gift_title, 'Whom is the gift for?' %>
				<%= f.text_field :gift_title %>
			</p>
			<p>
				<%= f.label :gift_link, 'Do you have a link with more details?' %>
				<%= f.label :gift_link, '(optional)' %>
				<%= f.text_field :gift_link %>
			</p>
			<p>
				<%= f.label :gift_admin_name, 'Your name?' %>
				<%= f.text_field :gift_admin_name %>
			</p>
			<p>
				<%= f.label :gift_admin_email, 'Your email?' %>
				<%= f.text_field :gift_admin_email %>
			</p>
			<p>
				<%= f.label :image, 'Do you have a photo?' %>
				<%= f.label :image, '(optional)' %>
				<%= f.file_field :image %>
			</p>
			<p>
				<%= f.submit 'Continue', :class => 'inline' %>
			</p>
		</div>
	<% end %>
	<div class="clear"></div>

	<hr />

	<%= render :partial => 'shared/admin_link_recovery' %>

</div>