<%= render :partial => 'shared/event_view' %>

<div class="bind">

	<h2>Your Contribution</h2>
  <%= render :partial => 'giving_status' %>
  <%= form_for Contribution.new, :url => event_give_index_url(@gift_event.access_token) do |f| %>
		<p> 
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		<p> 
			<%= f.label :amount %>
			<span id="contribution_amount_icon" title="$"></span>
			<%= f.text_field :amount %>
		</p>
		<p> 
			<%= f.label :email %>
			<%= f.label :email, "(Your email will only be shared with #{@gift_event.gift_admin_name})" %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.submit 'Give', :class => 'inline' %>
		</p>
	<% end %>
	<div class="clear"></div>

</div>